*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

h1,h2,h3,h4,h5,h6, .logo{
    font-family: 'Roboto', sans-serif;
}

nav{
    display: none;
}

body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "section1"
    "strawberry-section"
    "section2"
    "footer";
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

header{
    grid-area: header;
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: #e79c74;
    padding: 0 20px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
    scroll-snap-align: start;
    z-index: 100000;
}

.logo{
    display: flex;
    grid-area: logo;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.logo a{
    color: #e79c74;
    font-weight: bolder;
    font-size: 9pt;
}

.logo a:hover{
    color: white;
}

.menu_icon{
    margin: auto 0;
    display: block;
    cursor: pointer;
}

.menu_icon div{
    width: 30px;
    height: 2.2px;
    background-color: #e79c74;
    margin: 6px 0;
    transition: 0.4s;
}
.mobile_menu{
    display: none;
}

.open .bar1{
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-7x, 6px);
}
.open .bar2{
    opacity: 0;
}
.open .bar3{
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-5px, -7px);
}

.open .mobile_menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: flex-start;
    text-align: center;
}
.open .mobile_menu{
    display: block;
    position: absolute;
    top: 60px;
    left: 0;
    height: 80vh;
    width: 100%;
    background-color: black; 
}


.mobile_menu a{
    text-decoration: none;
    color: #e79c74;
    font-family: 'Montserrat' , sans-serif;
    font-weight: lighter;
}

.mobile_menu a:hover{
    color: white;
}


.mobile_menu li{
    margin: 20px 0;
}

.mobile_menu li:hover{
 transform: scale(1.1);
 transition: 0.3s;
}

.section1{
    grid-area: section1;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.90) ,rgba(0,0,0,0.55)), url('../images/Background1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.section1 h1{
    font-size: 20pt;
}

.section1 p{
    font-size: 12pt;
    font-weight: bolder;
    font-family: 'Montserrat' , sans-serif;
}

.strawberry_section{
    grid-area: strawberry-section;
    background-image: linear-gradient(to bottom, rgba(93, 39, 75, 0.57), rgba(241,197,153,0.57)),url('../images/strawberry.jpeg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 200vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.strawberry_section .greet{
    border: white 3px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 240px;
    padding: 30px;

}

.strawberry_section .greet h1{
    display: flex;
    flex-direction: column;
   font-size: 25pt;
   font-weight: bolder;
   margin: 0;
   letter-spacing: 2px;
   text-transform: uppercase;
}

.strawberry_section .greet p{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: yellowgreen;
    margin: 0;
    letter-spacing: 3px;
    font-weight: bolder;
}

.strawberry_section .greet .barline{
    width: 100px;
    height: 3px;
    background-color: yellowgreen;
    margin: 6px 0;
    transition: 0.4s;
    margin: 2px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.strawberry_section .greet .barline1{
    width: 150px;
    height: 3px;
    background-color: yellowgreen;
    margin: 6px 0;
    transition: 0.4s;
}

.icons{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 100px auto;
    overflow: hidden;
}
.icons .icon-container{
    margin: 50px auto;
}

.icons .icon-container .disp-icon{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.icons .icon-container .disp-icon .icon-border{
    border: 3px solid black;
    border-radius: 20px;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h2_icon{
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 12pt;
}

.p_icon{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    font-size: 9pt;
    font-weight: bolder;
}
.icons .icon-container .disp-icon .icon-border img{
    width: 50px;
    height: 50px;
    padding: 1px;
    margin: 10px;
    align-items: center;
}

.scroll_reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}

.scroll_reveal.active{
    transform: translateY(0px);
    opacity: 1;
    margin-top: 100px;

}
