*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

h1,h2,h3,h4,h5,h6, .logo{
    font-family: 'Roboto', sans-serif;
}

nav{
    display: none;
}

body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "section1"
    "empty"
    "section2"
    "footer"
}

header{
    grid-area: header;
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: #e79c74;
    padding: 0 20px;
    position: fixed;
    width: 100%;
    height: 10vh;
}

.logo{
    display: flex;
    grid-area: logo;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.logo a{
    color: #e79c74;
    font-weight: bolder;
    font-size: 9pt;
}

.logo a:hover{
    color: white;
}

.menu_icon{
    margin: auto 0;
    display: block;
    cursor: pointer;
}

.menu_icon div{
    width: 30px;
    height: 2.2px;
    background-color: #e79c74;
    margin: 6px 0;
    transition: 0.4s;
}
.mobile_menu{
    display: none;
}

.open .bar1{
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-7x, 6px);
}
.open .bar2{
    opacity: 0;
}
.open .bar3{
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-5px, -7px);
}

.open .mobile_menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: flex-start;
    text-align: center;
}
.open .mobile_menu{
    display: block;
    position: absolute;
    top: 60px;
    left: 0;
    height: 80vh;
    width: 100%;
    background-color: black; 
}


.mobile_menu a{
    text-decoration: none;
    color: #e79c74;
    font-family: 'Montserrat' , sans-serif;
    font-weight: lighter;
}

.mobile_menu a:hover{
    color: white;
}


.mobile_menu li{
    margin: 20px 0;
}

.mobile_menu li:hover{
 transform: scale(1.1);
 transition: 0.3s;
}

.section1{
    grid-area: section1;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.90) ,rgba(0,0,0,0.55)), url('../images/Background1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.section1 h1{
    font-size: 20pt;
}

.section1 p{
    font-size: 12pt;
    font-weight: bolder;
    font-family: 'Montserrat' , sans-serif;
}

.empty{
    grid-area: empty;
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(to bottom, rgba(93, 39, 75, 0.57), rgba(241,197,153, 0.57)) ,url('../images/strawberry.jpeg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 75vh;
}
.empty .greet{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 30px;
    border: solid white 5px;
    width: 240px;


}
.empty .greet h1{
    font-family: 'Roboto', serif;
    font-size: 25pt;
    font-weight: bolder;
    margin: 0;
    letter-spacing: 3px;
}

.empty .greet p{
    font-family: 'Montserrat', serif;
    font-weight: 500;
    font-family: 15pt;
    color: yellowgreen;
    margin: 0;
    letter-spacing: 3px;
}

.empty .greet .barline{
    margin: auto 0;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
}

.barline div{
    width: 100px;
    height: 4px;
    background-color: yellowgreen;
    margin: 6px 0;
    transition: 0.4s;
}

.section2{
    grid-area: section2;
    height: 90vh;
    background-color: white;
}

.title_section2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 80px auto;
}

.title_section2 h1{
    font-size: 15pt;
    color: yellowgreen; 
}
.barline1 div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 4px;
    background-color: yellowgreen;
    margin: 6px 0;
    transition: 0.4s;
}

.barline2 div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 4px;
    background-color: yellowgreen;
    margin: 6px 0;
    transition: 0.4s;
}

.images{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.images div img{
    width: 300px;
    margin: 2px 0;
    border-radius: 10px;
    height: 40vh;
}

.images div img:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
